<div id="<%= dom_id charity %>">

  <% if charity.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(charity.errors.count, "error") %> prohibited saving this charity.</h2>
        <ul>
          <%= charity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <h4>
    <strong>Title:</strong>
    <%= link_to charity.title, charity %>
  </h4>

  <p>
    <strong>Tax id number:</strong>
    <%= charity.tax_id_number %>
  </p>

  <p>
    <strong>Tax exempt status:</strong>
    <%= charity.tax_exempt_status %>
  </p>

  <p>
    <strong>Organization type:</strong>
    <%= charity.organization_type %>
  </p>

  <p>
    <strong>Mission:</strong>
    <%= charity.mission %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= charity.description %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= charity.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= charity.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= charity.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= charity.state %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= charity.postal_code %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= charity.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= charity.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= charity.website %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= charity.published %>
  </p>

  <p>
    <strong>Approved:</strong>
    <%= charity.approved %>
  </p>

</div>
