<%= form_with(model: charity) do |form| %>
  <% if charity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(charity.errors.count, "error") %> prohibited this charity from being saved:</h2>

      <ul>
        <% charity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :tax_id_number, style: "display: block" %>
    <%= form.text_field :tax_id_number %>
  </div>

  <div>
    <%= form.label :tax_exempt_status, style: "display: block" %>
    <%= form.text_field :tax_exempt_status %>
  </div>

  <div>
    <%= form.label :organization_type, style: "display: block" %>
    <%= form.text_field :organization_type %>
  </div>

  <div>
    <%= form.label :mission, style: "display: block" %>
    <%= form.text_area :mission %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :address1, style: "display: block" %>
    <%= form.text_field :address1 %>
  </div>

  <div>
    <%= form.label :address2, style: "display: block" %>
    <%= form.text_field :address2 %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :postal_code, style: "display: block" %>
    <%= form.text_field :postal_code %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :website, style: "display: block" %>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.label :published, style: "display: block" %>
    <%= form.check_box :published %>
  </div>

  <div>
    <%= form.label :approved, style: "display: block" %>
    <%= form.check_box :approved %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
