  <% if charity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(charity.errors.count, "error") %> prohibited this charity from being saved:</h2>

      <ul>
        <% charity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for charity do |form| %>
    <%= form.input :title %>
    <%= form.input :tax_id_number %>
    <%= form.input :tax_exempt_status %>
    <%= form.input :organization_type %>
    <%= form.input :mission %>
    <%= form.rich_text_area :description %>
    <%= form.input :address1 %>
    <%= form.input :address2 %>
    <%= form.input :city %>
    <%= form.input :state %>
    <%= form.input :postal_code %>
    <%= form.input :phone %>
    <%= form.input :email %>
    <%= form.input :website %>
    <%= form.input :published %>
    <%= form.input :approved %>
    <%= form.file_field :logo %>
    <%= form.file_field :images, multiple: true %>
    <%= form.button :submit, class: "btn btn-primary" %>

<% end %>
