<p style="color: green"><%= notice %></p>

<h1>All Charities</h1>

<%= link_to "Add charity", new_charity_path %>

<!-- <div>
<%# bootstrap icon %>
<i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
<%# font awesome icons %>
<i class="fas fa-plus"></i>
<i class="fas fa-basketball-ball"></i>
<i class="far fa-check-square"></i>
</div> -->

<div id="charities">
  <% @charities.each do |charity| %>
    <%= render charity %>
    <p>
      <%= link_to "Edit charity", edit_charity_path(charity) %> |
      <%= link_to "Delete charity", charity_path(charity), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </p>
  <% end %>
</div>
